<h3> Data Science Tools and Ecosystem </h3>

This is a notebook. Data Science Tools and Ecosystem will be summarized.

**Objectives:**
    
- popular languages in data science
- libraries for data science
- environments for data science
- basic math expressions

Some of the popular languages that Data Scientists use are:


1. Python
2. SQL
3. R
4. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. XGBoost

| Data Science Tools |
| --- |
| Jupyter Lab |
| R Studio |
| Apache Zeppelin |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

This a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

<h2> Author </h2>
Amanda Monet Salamon